@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Raleway:wght@300&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

